/* ranking list */
.ranking
{
    box-shadow: 0 0 2px #999;
    -moz-box-shadow: 0 0 2px #999;
    -webkit-box-shadow: 0 0 2px #999;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    border-radius: 3px;        /* CSS3草案 */  
    -webkit-border-radius: 3px;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 3px;   /* Firefox用 */  
    margin:5px;
    padding: 10px 10px 10px 0;
    background:color;
    
    position:relative;
}

.ranking .title
{
	font-size: 120%;
	font-weight: bold;
	margin: 0px 20px 0px 20px;
	overflow-x: hidden;
	overflow-y: hidden;
	height:25px;
}

.ranking .rank
{
	position:absolute;
	font-size:500%;
	opacity:0.20;
	text-align:right;
	width:100%;
	top: -10px;
	right:10px;
	vertical-align:middle;
}

.ranking .icon
{
	float:left;
	margin:10px;
	height:100px;
}

.ranking .summary
{
	margin:10px;
	height:100px;
	overflow-y: hidden;
}

.ranking .more_info
{
	font-size:80%;
	text-align:right;
	color:#53585F;
}

.ranking .more_info .until_count
{
	font-size:190%;
}
.ranking .category
{
}
.ranking .maker
{
	font-size:190%;
}
